/*for the entire app*/
.App {
  font-family: sans-serif;
  text-align: center;
  font-size: 12px;
}

/*for the entire app*/
body {
  background-color: #6a64a4;
  margin: 0px;
}
/* for TopRow.tsx */
.Row {
  white-space: nowrap;
}
/* for TopRow.tsx */
.Row span {
  margin-right: 40px;
  cursor: pointer;
}
/* for TierList.tsx */
.SubRow {
  margin-top: 45px;
  white-space: nowrap;
  font-size: 16px;
}
/* for TierList.tsx */
.SubRow span {
  margin-right: 20px;
  cursor: pointer;
}
/* for TierList.tsx */
.Table {
  width: 95%;
  margin-left: 2.5%;
  margin-top: 45px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

/* for TierList.tsx */
.Table table {
  border-collapse: collapse;
  border-bottom: 2px solid black;
}

/* for TierList.tsx */
.empty {
  height: 60px;
  width: 95%;
  text-align: left;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}
/* for TierList.tsx */
.Label {
  width: 60px;
  border-bottom: 2px solid black;
}
/* for TierList.tsx */
.Label.S {
  background-color: gold;
  color: black;
}
/* for TierList.tsx */
.Label.A {
  background-color: red;
  color: white;
}
/* for TierList.tsx */
.Label.B {
  background-color: orange;
  color: white;
}
/* for TierList.tsx */
.Label.C {
  background-color: green;
  color: white;
}
/* for TierList.tsx */
.Label.D {
  background-color: gray;
  color: white;
  border-bottom: 0px;
}

/*for HeroesTable.tsx*/
.gallery {
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  font-size: 9px;
}
/*for HeroesTable.tsx*/
.gallery div {
  width: 45px;
  text-wrap: wrap;
  margin-left: 5px;
}
/*for HeroesTable.tsx*/
img {
  width: 45px;
  margin-left: 5px;
  cursor: pointer;
}
